<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Trang Chu</h1>
    <a href="{{url_for('login')}}">Đăng nhập</a>
    {% for video in videos %}
    <div>
        <img src="{{ video.thumbnail }}" alt="" width="220px" height="130px">
        <br>
        <p>{{ video.title }}</p>
        <span>{{ video.views }} views</span>
        <a href="{{url_for('detail', youtube_id=video.youtube_id)}}">Xem</a>
        <br><br>
        <hr>
    </div>
    {% endfor %}
</body>
</html>