<div class="d-flex flex-column justify-content-center align-items-center w-100 h-600">
    <h1 class="text-center">Các gói dịch vụ</h1>
    <br>
    <div class="d-flex flex-row justify-content-around align-items-center w-100 h-400">

        <div class="w-200 h-200">
            <div class="d-flex align-items-center justify-content-start bg-s-light h-30px brd rounded-top p-2">
                <h4 class="text-white">Gói cơ bản</h4>
            </div>
            <div class="brd">
                <br>
                <h6>Dẫn bạn về ra mắt</h6>
                <br>
                <h6>Ăn cơm cùng gia đình</h6>
                <br>
                <h6 class="text-muted">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</h6>
                <br>
                <h6 class="text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                <br>
            </div>
            <div class="d-flex justify-content-end h-30px brd bg-light">
                <button class="btn btn-dark h-20px m-1">
                    <i class="fas fa-heart"></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>

        <div class="w-200 h-200">
            <div class="d-flex align-items-center justify-content-start bg-secondary h-30px brd rounded-top p-2">
                <h4 class="text-white">Gói tiêu chuẩn</h4>
            </div>
            <div class="brd">
                <br>
                <h6>Dẫn bạn về ra mắt</h6>
                <br>
                <h6>Ăn cơm cùng gia đình</h6>
                <br>
                <h6 class="text-black-50">Cho phép nắm tay thể hiện quan tâm</h6>
                <br>
                <h6 class="text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                <br>
            </div>
            <div class="d-flex justify-content-end h-30px brd bg-light">
                <button class="btn btn-dark h-20px m-1">
                    <i class="fas fa-heart"></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>

        <div class="w-200 h-200">
            <div class="d-flex align-items-center justify-content-start bg-dark h-30px brd rounded-top p-2">
                <h4 class="text-white">Gói cao cấp</h4>
            </div>
            <div class="brd">
                <br>
                <h6>Dẫn bạn về ra mắt</h6>
                <br>
                <h6>Ăn cơm cùng gia đình</h6>
                <br>
                <h6 class="text-black-50">Cho phép nắm tay thể hiện quan tâm</h6>
                <br>
                <h6 class="text-black-50">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                <br>
            </div>
            <div class="d-flex justify-content-end h-30px brd bg-light">
                <button class="btn btn-dark h-20px m-1">
                    <i class="fas fa-heart"></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>

    </div>
</div>