<div class="d-flex flex-column justify-content-center align-items-center w-100 h-600 bg-background">
    <h2 class="text-white">Khách hàng bình chọn</h2>
    <br>
    <div class="d-flex flex-wrap flex-row justify-content-between align-items-center w-80 h-400">
        <img src="../../static/image/hotboy1.png" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotgirl1.jpg" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotgirl2.jpg" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotboy3.jpg" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotboy2.jpg" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotgirl3.jpg" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotboy4.png" width="200px" height="200px" class="addition rounded">
        <img src="../../static/image/hotgirl4.jpg" width="200px" height="200px" class="addition rounded">
    </div>
</div>