<div class="d-flex flex-column justify-content-center align-items-center w-100 h-500">
    <h2 class="w-100 text-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
    <br><br>
    <h4 class="w-80 font-lobster text-center">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h4>
    <br><br>
    <div class="w-100 d-flex flex-row justify-content-around">
        <div id="female" class="hvr-push">
            <h3 class="text-right text-white">Bạn là Nam</h3>
        </div>
        <div id="male">
            <h3 class="text-left text-white">Bạn là Nữ</h3>
        </div>
    </div>
</div>