#flex-box {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.bg-green {
    background-color: lightgreen;
}

.w-50px {
    width: 50px;
}

.h-50px {
    height: 50px;
}

.m-10px {
    margin: 10px;
}