<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>C4E Blog</h1>
    <ul>
    {% for post in posts %}
    
        <div>
            <!-- jinja2 -->
            <h3>{{ post.title }}</h3>
            <p>
                {{post.content }}
            </p>
            <i>By:
                <!-- Conditional Expression -->
                {{"Mr" if post.gender == 1 else "Mrs"}}
                {{ post.author }}
            </i>
            <hr>
        </div>

    {% endfor %}

    </ul>
    

</body>
</html>