<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>New Service</h1>
    <form method='post'>

        <input type="radio" name="gender" value="1" checked> Nam<br>
        <input type="radio" name="gender" value="0"> Nữ<br>

        <label>Tên</label>
        <input type="text" name="name" value="Tú Linh">
        <br>

        <label>Yob</label>
        <input type="text" name="yob" value="1994">
        <br>

        <label>Sđt</label>
        <input type="text" name="phone">
        <br>

        <input type="submit" value="Thêm">
    </form>
</body>
</html>