<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><Page Title></title>
    {% include 'meta-data.html' %}
</head>
<body>
    <br>
    <h2 class="font-great text-center">Thông tin khách hàng</h2>
    {% for service in all_service %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="shadow p-1 mb-5 bg-white rounded" src="http://via.placeholder.com/300x200" width="300px" height="200px">
        <b>Tên: {{service.name}}</b>
        <br>
        <p>Năm sinh: {{service.yob}}</p>
        <p>Chiều cao: {{service.height}}</p>
        <a class="btn btn-outline-dark btn-sm" href="{{ url_for('detail', customer_id=service.id) }}" role="button">
            Tìm hiểu thêm
            <i class="far fa-smile-wink"></i>
        </a>
        <hr>
    </div>
    {% endfor %}
</body>
</html>