<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><Page Title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h4>Thông tin khách hàng</h4>
    {% for service in all_service %}
    <div>
        <img src="http://via.placeholder.com/300x200">
        <br>
        <b>Tên: {{service.name}}</b>
        <p>Năm sinh: {{service.yob}}</p>
        <p>Chiều cao: {{service.height}}</p>
        <a href='{{ url_for('detail', customer_id=service.id) }}'>Tìm hiểu thêm</a>
        <hr>
    </div>
    {% endfor %}
</body>
</html>