<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
<h1>Đăng ký tài khoản</h1>
<body>
    <form method="post">
    <label>Tên đầy đủ(*) :</label>
    <input type="text" name="fullname" required>
    <br>

    <label>Email(*) :</label>
    <input type="email" name="email" required>
    <br>

    <form method="post">
    <label>Tên đăng nhập:</label>
    <input type="text" name="username">
    <br>
    
    <label>Mật khẩu:</label>
    <input type="password" name="password">
    <br>

    <input type="submit" value="Submit">
    </form>
</body>
</body>
</html>